$blocks: (1, 2, 3);
$block-one: rgb(54, 1, 4);
$block-two: rgb(54, 1, 30);
$light-primary: #57a595;
$light-secondary: #61d2bb;
$light-boundary: #1d2366;
$button-submit: #06a2ff;
$button-cancel: #ed1a3b;
$text-light-primary: #3f3d56;
$dark-primary: rgb(90, 5, 30);
$text-dark-primary: rgb(0, 0, 0);
