@import "variables";
@import "blocks";

.block-2 {
  background-color: $light-secondary;
}

.block-3 {
  background-color: white;
}

.loading-container {
  background-color: whitesmoke;
  color: $text-light-primary;
  height: 100vh;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 99;

  h1 {
    left: calc(50% - 40px);
    top: calc(50vh - 40px);
    position: absolute;
  }
}
